<div class="modal-header">
    <a ui-sref="residence"><button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button"><i class="material-icons">home</i>Residence</button></a>
    <a ui-sref="language"><button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button"><i class="material-icons">language</i>Language</button></a>
</div>
<div class="demo-content mdl-grid">
    <button ng-click="vm.onCreate()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--floating-action mdl-shadow--4dp">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-cell mdl-cell--3-col">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="sample6" ng-model="vm.search.$">
                <label class="mdl-textfield__label" for="sample-expandable">Search...</label>
            </div>
        </div>
        <div class="demo-list-action mdl-list">
            <a class="mdl-list__item"
               ng-repeat="residence in vm.residences | filter:vm.search"
               ng-click="vm.selectResidence(residence)"
               ng-class="{'mdl-color-text--white mdl-color--blue-grey-300': vm.currentResidence.id === residence.id}"
               style="cursor: pointer;">
                <span class="mdl-list__item-primary-content">
                  <span>{{residence.state}} - {{residence.city}}</span>
                </span>
            </a>
        </div>

    </div>
    <div class="mdl-card mdl-cell mdl-cell--9-col mdl-shadow--2dp" ng-if="vm.currentResidence" >
        <div class="mdl-card__title mdl-color--orange-800">
            <h2 class="mdl-card__title-text mdl-color-text--white">{{vm.currentResidence.state}} - {{vm.currentResidence.city}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="attr-div">
                        <label>State:</label><br>
                        <span>{{vm.currentResidence.state || '-'}}</span>
                    </div>
                    <div class="attr-div">
                        <label>City:</label><br>
                        <span>{{vm.currentResidence.city || '-'}}</span>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions">
                <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.editResidence()">
                    <i class="material-icons">edit</i>
                    Edit
                </a>
                <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.deleteResidence(vm.currentResidence)">
                    <i class="material-icons">delete</i>
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>