<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div ht-widget-header title="{{vm.title}}">

                            <span class="btn-sm btn-default" ng-click="vm.onCreate()" style="cursor: pointer">
                                <i class="fa fa-plus"></i>
                                Add new Residence
                            </span>

                    </div>
                    <div class="widget-content user">
                        <div class="clear-fix"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group" style="margin-bottom: 5px">
                                  <span class="input-group-addon">
                                      <i class="fa fa-search"
                                         aria-hidden="true"></i>
                                  </span>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search..."
                                           ng-model="vm.search.$">
                                </div>
                                <ul class="list-group" style="height: 350px; overflow: hidden; overflow-y: auto;">
                                    <li class="list-group-item"
                                        ng-repeat="residence in vm.residences | filter:vm.search"
                                        ng-click="vm.selectResidence(residence)"
                                        ng-class="{'active': vm.currentResidence.id === residence.id}"
                                        style="cursor: pointer; color:black">
                                        <span>{{residence.State}}</span>
                                        <span>{{residence.City}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="vm.currentResidence">
                                <h2 class="col-md-9" style="color:white; background-color: #FF6D00;" >
                                    {{vm.currentResidence.City}}
                                    <span class="pull-right">
                                        <button class="btn btn-default" ng-click="vm.editResidence()">
                                            <i class="fa fa-pencil"></i>
                                            Edit
                                        </button>
                                        <button class="btn btn-default" ng-click="vm.deleteResidence(vm.currentResidence)">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>
                                    </span>
                                </h2>
                                <div class="col-md-3">
                                    <label>State:</label><br>
                                    <span>{{vm.currentResidence.State}}</span>
                                </div>
                                <div class="col-md-3">
                                    <label>City:</label><br>
                                    <span>{{vm.currentResidence.City }}</span>
                                </div>

                            </div>
                        </div>
                        <div class="clear-fix"></div>

                    </div>

                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>
