<div>
    <div class="modal-header">
        <h3 class="modal-title">Create new Kid</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label >First name</label>
            <input type="text" ng-model="vm.kid.firstName">
        </div>
        <div class="form-group">
            <label >Last Name</label>
            <input type="text" ng-model="vm.kid.lastName">
        </div>
        <div class="form-group">
            <label >Year Of Birth</label>
            <input type="text" ng-model="vm.kid.yearOfBirth">
        </div>
        <div class="form-group">
            <label >City of Birth</label>
            <input type="text" ng-model="vm.kid.cityOfBirth">
        </div>
        <div class="form-group">
            <label >Gender</label>
            <input type="text" ng-model="vm.kid.gender">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>