<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.modalTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label >First name</label><br>
                    <input type="text" ng-model="vm.kid.firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >Last Name</label><br>
                    <input type="text" ng-model="vm.kid.lastName">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label >City of Birth</label><br>
                    <input type="text" ng-model="vm.kid.cityOfBirth">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >State of Birth</label><br>
                    <input type="text" ng-model="vm.kid.stateOfBirth">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label >Date Of Birth</label><br>
                    <input type="text" ng-model="vm.kid.yearOfBirth">

                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup="{{vm.format}}"
                           ng-model="vm.kid.yearOfBirth"
                           is-open="vm.popup1"
                           datepicker-options="vm.dateOptions"
                           close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.openDatePicker()">
                            <i class="material-icons">date_range</i>
                        </button>
                      </span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >Gender</label><br>
                    <input type="radio" ng-model="vm.kid.gender" value="m">Male
                    <input type="radio" ng-model="vm.kid.gender" value="f">Female
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label >Father's Education</label><br>
                    <input type="text" ng-model="vm.kid.educationFather">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >Mother's Education</label><br>
                    <input type="text" ng-model="vm.kid.educationMother">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Father's Language:</label><br>
                    <select class="form-control" ng-model="vm.kid.languageFatherId">
                        <option ng-repeat="language in vm.languageList" value={{language.id}}>{{language.languageName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mother's Language:</label><br>
                    <select class="form-control" ng-model="vm.kid.languageMotherId">
                        <option ng-repeat="language in vm.languageList" value={{language.id}}>{{language.languageName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>School Language:</label><br>
                    <select class="form-control" ng-model="vm.kid.languageSchoolId">
                        <option ng-repeat="language in vm.languageList" value={{language.id}}>{{language.languageName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Additional School Language:</label><br>
                    <select class="form-control" ng-model="vm.kid.languageAdditionalSchoolId">
                        <option ng-repeat="language in vm.languageList" value={{language.id}}>{{language.languageName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>Last Known Residence:</label><br>
                    <span>{{vm.kid.residences[vm.kid.residences.length - 1].state}} - {{vm.kid.residences[vm.kid.residences.length - 1].city}}</span><br>
                    <label>Residences:</label><br>
                    <div ng-repeat="residence in vm.kid.residences">
                        <span>{{residence.state}} - {{residence.city}}</span>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.removeResidence(residence.id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </div>
                <div ng-if="vm.kid.id">
                    <!--<div ng-if="vm.showForm">-->
                        <!--<br><br>-->
                        <!--<label>Residence:</label><br>-->
                        <!--<select class="form-control" ng-model="vm.newResidence">-->
                            <!--<option ng-repeat="residence in vm.residenceList" value={{residence}}>{{residence.state}} {{residence.city}}</option>-->
                        <!--</select>-->
                        <!--<button class="btn btn-primary" type="button" ng-click="vm.addResidence()">Add</button>-->
                    <!--</div>-->
                    <!--ST TODO: style obrisati kada se resi problem sa odsecanjem liste-->
                    <div class="mdl-grid" ng-show="vm.showForm" style="height: 250px">
                        <div class="mdl-cell mdl-cell--8-col">
                            <div class="form-group">
                                <input type="text"
                                       typeahead-no-results="vm.noResults"
                                       placeholder="Type city or state"
                                       ng-model="vm.newResidence"
                                       uib-typeahead="residence as residence.state+' - '+residence.city for residence  in vm.residenceList | filter:$viewValue | limitTo:8"
                                       class="mdl-textfield__input">
                            </div>
                            <div ng-if="vm.noResults">
                                <a href="" ng-click="vm.showAddForm(); vm.showCreateForm = !vm.showCreateForm; vm.newResidence = {}">Residence not found. Create New.</a>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addResidence()">Add</button>
                        </div>

                    </div>
                    <div class="mdl-grid" ng-if="vm.showCreateForm">
                        <div class="form-group">
                            <h6>Create new Residence:</h6>
                            <label>State:</label><br>
                            <input type="text" class="mdl-textfield__input" ng-model="vm.newResidence.state"><br>
                            <label>City:</label><br>
                            <input type="text" class="mdl-textfield__input" ng-model="vm.newResidence.city"><br>
                            <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addResidence()">Create and Add</button>
                        </div>
                    </div>
                    <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.showAddForm()" ng-show="!vm.showForm && !vm.showCreateForm">
                        <i class="material-icons">add</i>
                        Add residence
                    </a>
                    <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.hideAddForm()" ng-show="vm.showForm || vm.showCreateForm">
                        <i class="material-icons">keyboard_arrow_up</i>
                        Hide Residence form
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="!vm.kid.id" class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addKidAndStayOpen()"><i class="material-icons">add</i>Add Kid and add Residence</button>
        <button ng-if="!vm.kid.id" class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addKid()"><i class="material-icons">add</i>Just Add Kid</button>
        <button ng-if="vm.kid.id" class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addKid()"><i class="material-icons">save</i>Save</button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.cancel()"><i class="material-icons">cancel</i>Cancel</button>
    </div>
</div>