<div class="demo-content mdl-grid">

    <button ng-click="vm.onCreate()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--floating-action mdl-shadow--4dp">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-cell mdl-cell--3-col">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="sample6" ng-model="vm.search.$">
                <label class="mdl-textfield__label" for="sample6">Search...</label>
            </div>
        </div>
        <div class="demo-list-action mdl-list">
            <a class="mdl-list__item"
               ng-repeat="kid in vm.kids | filter:vm.search"
               ng-click="vm.selectKid(kid)"
               ng-class="{'mdl-color-text--white mdl-color--blue-grey-300': vm.currentKid.id === kid.id}"
               style="cursor: pointer;">
                <span class="mdl-list__item-primary-content">
                  <!--<i class="material-icons mdl-list__item-avatar">person</i>-->
                  <span>{{kid.firstName + ' ' + kid.lastName}}</span>
                </span>
                <span class="mdl-list__item-secondary-action" href="#">
                    <i ng-if="kid.gender === 'f'"
                       class="fa fa-venus" aria-hidden="true"></i>
                    <i ng-if="kid.gender === 'm'"
                       class="fa fa-mars"
                       aria-hidden="true"></i>
                </span>
            </a>
        </div>

    </div>
    <div class="mdl-card mdl-cell mdl-cell--9-col mdl-shadow--2dp" ng-if="vm.currentKid" >
        <div class="mdl-card__title mdl-color--blue-800">
            <h2 class="mdl-card__title-text mdl-color-text--white">{{vm.currentKid.firstName + ' ' + vm.currentKid.lastName }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="attr-div">
                        <label>First Name:</label><br>
                        <span>{{vm.currentKid.firstName || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>Last Name:</label><br>
                        <span>{{vm.currentKid.lastName || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>Gender:</label><br>
                        <span>{{vm.currentKid.gender || '-'}}</span>
                    </div><br>
                </div>


                <div class="mdl-cell mdl-cell--3-col">
                    <div class="attr-div">
                        <label>Date of Birth:</label><br>
                        <span>{{(vm.currentKid.yearOfBirth | date:'dd.MM.yyyy')|| '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>City of Birth:</label><br>
                        <span>{{vm.currentKid.cityOfBirth || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>State of Birth:</label><br>
                        <span>{{vm.currentKid.stateOfBirth || '-'}}</span>
                    </div><br>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="attr-div">
                        <label>Mother's Education:</label><br>
                        <span>{{vm.currentKid.educationMother || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>Father's Education:</label><br>
                        <span>{{vm.currentKid.educationFather || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>Mother's Language:</label><br>
                        <span>{{vm.currentKid.languageMother.languageName || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>Father's Language:</label><br>
                        <span>{{vm.currentKid.languageFather.languageName || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>School Language:</label><br>
                        <span>{{vm.currentKid.languageSchool.languageName || '-'}}</span>
                    </div><br>
                    <div class="attr-div">
                        <label>Additional School Language:</label><br>
                        <span>{{vm.currentKid.languageAdditionalSchool.languageName || '-'}}</span>
                    </div><br>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    <label>Last known Residence:</label><br>
                    <span>{{vm.currentKid.residences[vm.currentKid.residences.length - 1].state}} - {{vm.currentKid.residences[vm.currentKid.residences.length - 1].city}}</span><br><br>
                    <label>Residences:</label><br>
                    <div ng-repeat="residence in vm.currentKid.residences">
                        <span>{{residence.state}} - {{residence.city}}</span>
                    </div><br>
                </div><br>
            </div>
            <!--ST TODO: style obrisati kada se resi problem sa odsecanjem liste-->
            <div class="mdl-grid" ng-show="vm.showForm" style="min-height: 200px">
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="form-group" style="display: flex; flex-direction: column;">
                        <input type="text"
                               typeahead-no-results="vm.noResults"
                               placeholder="Type city or state"
                               ng-model="vm.newResidence"
                               uib-typeahead="residence as residence.state+' - '+residence.city for residence  in vm.residenceList | filter:$viewValue | limitTo:5"
                               class="mdl-textfield__input">
                    </div>
                    <div ng-if="vm.noResults">
                        <a href="" ng-click="vm.showAddForm(); vm.showCreateForm = !vm.showCreateForm; vm.newResidence = {}">Residence not found. Create New.</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addResidence()">Add</button>
                </div>
            </div>
            <div class="mdl-grid" ng-show="vm.showCreateForm">
                <div class="form-group">
                    <h6>Create new Residence:</h6>
                    <label>State:</label><br>
                    <input type="text" class="mdl-textfield__input" ng-model="vm.newResidence.state"><br>
                    <label>City:</label><br>
                    <input type="text" class="mdl-textfield__input" ng-model="vm.newResidence.city"><br>
                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.addResidence()">Create and Add</button>
                </div>
            </div>
        </div>

        <div class="mdl-card__actions">
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.editKid()">
                <i class="material-icons">edit</i>
                Edit
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.deleteKid(vm.currentKid)">
                <i class="material-icons">delete</i>
                Delete
            </a>

            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.showAddForm()" ng-show="!vm.showForm && !vm.showCreateForm">
                <i class="material-icons">add</i>
                Add residence
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="vm.hideAddForm()" ng-show="vm.showForm || vm.showCreateForm">
                <i class="material-icons">keyboard_arrow_up</i>
                Hide Residence form
            </a>
        </div>
    </div>
</div>