<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title"><span style="font-weight: 300">story</span><span  style="font-weight: 700">teller</span></span></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right"
          ng-if="vm.isAuthenticated">
        <li><a ui-sref="new"><i class="fa fa-plus" aria-hidden="true"></i> Start new session</a></li>
        <li>
          <a ng-click="vm.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right"
          ng-if="!vm.isAuthenticated">

      </ul>
    </div>
  </div>
</nav>
