<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.modalTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label >Title</label><br>
                    <input type="text" ng-model="vm.annotSch.title">
                </div>
                <div class="form-group">
                    <label >Description</label><br>
                    <textarea rows="4" cols="50" ng-model="vm.annotSch.description"></textarea>
                </div>
            </div>
        </div>
        <!--ST TODO: srediti redosled boja (ne slaze se boja i vm.boja)-->
        <div class="row">
            <div class="col-md-2">
                <label >Color</label><br>
                <div class="color-box" style="background-color: #bcdffc; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <label >Color description</label><br>
                <textarea rows="1" cols="40" ng-model="vm.annotSch.blue"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color-box" style="background-color: #c7fcbc; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <textarea rows="1" cols="40" ng-model="vm.annotSch.green"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color-box" style="background-color: #FF3300; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <textarea rows="1" cols="40" ng-model="vm.annotSch.red"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color-box" style="background-color: #bcfcf7; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <textarea rows="1" cols="40" ng-model="vm.annotSch.aqua"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color-box" style="background-color: #fcbcfa; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <textarea rows="1" cols="40" ng-model="vm.annotSch.pink"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color-box" style="background-color: #f8f89b; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <textarea rows="1" cols="40" ng-model="vm.annotSch.yellow"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color-box" style="background-color: #FF9933; width: 40px; height: 20px"></div>
            </div>
            <div class="col-md-10">
                <textarea rows="1" cols="40" ng-model="vm.annotSch.orange"></textarea><br>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.ok()"><i class="material-icons">done</i>OK</button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.cancel()"><i class="material-icons">cancel</i>Cancel</button>
</div>
</div>