<div>
    <div class="modal-header">
        <h3 class="modal-title">language</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label >Language Name</label><br>
                    <input type="text" ng-model="vm.language.languageName">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.ok()"><i class="material-icons">done</i>OK</button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.cancel()"><i class="material-icons">cancel</i>Cancel</button>
</div>
</div>