<div class="demo-content mdl-grid">

    <button ng-click="vm.onCreate()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--floating-action mdl-shadow--4dp">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-cell mdl-cell--3-col">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="sample6" ng-model="vm.search.$">
                <label class="mdl-textfield__label" for="sample-expandable">Search...</label>
            </div>
        </div>
        <div class="demo-list-action mdl-list">
            <a class="mdl-list__item"
               ng-repeat="pictureBook in vm.pictureBooks | filter:vm.search"
               ng-click="vm.selectPictureBook(pictureBook)"
               ng-class="{'active': vm.currentPictureBook.id === pictureBook.id}"
               style="cursor: pointer; border-bottom: #c0c0c0 solid 1px;">
                <span class="mdl-list__item-primary-content">
                  <span>{{pictureBook.title}}</span>
                </span>
            </a>
        </div>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--9-col mdl-shadow--2dp" ng-if="vm.currentPictureBook" >
        <div class="mdl-card__title mdl-color--green-800">
            <h2 class="mdl-card__title-text mdl-color-text--white">{{vm.currentPictureBook.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="attr-div">
                        <label>Title:</label><br>
                        <span>{{vm.currentPictureBook.title || '-'}}</span>
                    </div>
                    <div class="attr-div">
                        <label>Authors:</label><br>
                        <span>{{vm.currentPictureBook.authors || '-'}}</span>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--4-col">
                    <div class="attr-div">
                        <label>Publisher:</label><br>
                        <span>{{vm.currentPictureBook.publisher || '-'}}</span>
                    </div>
                    <div class="attr-div">
                        <label>Year of Publishing:</label><br>
                        <span>{{vm.currentPictureBook.yearOfPublishing || '-'}}</span>
                    </div>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col" ng-repeat="scene in vm.currentPictureBook.scenes">
                    <label>{{scene.sceneNumber}}</label>
                    <span ng-show="scene.title"> - {{scene.title}}</span>
                    <br>
                    <a ng-click="vm.openLightboxModal($index)">
                        <img ng-src="{{scene.media.path}}" class="img-thumbnail">
                    </a>
                    <!--<div style="height: 200px; background-size: contain; background-image: url({{scene.media.path}}); background-repeat: no-repeat;">-->
                    <!--</div>-->
                </div>
                <!--</div>-->
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col" ng-show="vm.showForm">
                    <br><br>
                    <label>Title:</label>
                    <input type="text" class="mdl-textfield__input" ng-model="vm.newScene.title"> <br>
                    <label>Scene Number:</label>
                    <input type="text" class="mdl-textfield__input" ng-model="vm.newScene.sceneNumber"><br>
                    <label ng-show="vm.file.name">File:</label>
                    <span ng-show="vm.file.name">{{vm.file.name}}</span>

                    <button ng-show="!vm.file.name" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" ngf-select="vm.selectFile($file, $invalidFiles)">Select File</button><br>
                    <button ng-show="vm.file.name" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" ngf-select="vm.selectFile($file, $invalidFiles)">Change File</button><br>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" ng-click="vm.uploadScene()">Add</button>
                </div>
            </div>
        </div>

        <div class="mdl-card__actions">
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-click="vm.editPictureBook()">
                <i class="material-icons">edit</i>
                Edit
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-click="vm.deletePictureBook(vm.currentPictureBook)">
                <i class="material-icons">delete</i>
                Delete
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-show="!vm.showForm"
               ng-click="vm.showAddForm()">
                <i class="material-icons">add</i>
                Add scene
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-show="vm.showForm"
               ng-click="vm.showAddForm()">
                <i class="material-icons">keyboard_arrow_up</i>
                Hide scene form
            </a>
        </div>
    </div>
</div>