<div class="demo-content mdl-grid">

    <button ng-click="vm.onCreate()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--floating-action mdl-shadow--4dp">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-cell mdl-cell--3-col">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="sample6" ng-model="vm.search.$">
                <label class="mdl-textfield__label" for="sample-expandable">Search...</label>
            </div>
        </div>
        <div class="demo-list-action mdl-list">
            <a class="mdl-list__item"
               ng-repeat="pictureBook in vm.pictureBooks | filter:vm.search"
               ng-click="vm.selectPictureBook(pictureBook)"
               ng-class="{'active': vm.currentPictureBook.id === pictureBook.id}"
               style="cursor: pointer; border-bottom: #c0c0c0 solid 1px;">
                <span class="mdl-list__item-primary-content">
                  <!--<i class="material-icons mdl-list__item-avatar">person</i>-->
                  <span>{{pictureBook.title}}</span>
                </span>
                <span class="mdl-list__item-secondary-action" href="#">
                    <i ng-if="kid.gender === 'f'"
                       class="fa fa-venus" aria-hidden="true"></i>
                    <i ng-if="kid.gender === 'm'"
                       class="fa fa-mars"
                       aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--9-col mdl-shadow--2dp" ng-if="vm.currentPictureBook" >
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{vm.currentPictureBook.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="attr-div">
                        <label>Title:</label><br>
                        <span>{{vm.currentPictureBook.title || '-'}}</span>
                    </div>
                    <div class="attr-div">
                        <label>Authors:</label><br>
                        <span>{{vm.currentPictureBook.authors || '-'}}</span>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--4-col">
                    <div class="attr-div">
                        <label>Publisher:</label><br>
                        <span>{{vm.currentPictureBook.publisher || '-'}}</span>
                    </div>
                    <div class="attr-div">
                        <label>Year of Publishing:</label><br>
                        <span>{{vm.currentPictureBook.yearOfPublishing || '-'}}</span>
                    </div>
                </div>
                <!--ST TODO: ovde dodati listu postojecih scena-->

                <div class="mdl-cell mdl-cell--4-col" ng-if="vm.showForm">
                    <br><br>
                    <label>Title:</label>
                    <input type="text" ng-model="vm.tmp.title">
                    <label>Scene Number:</label>
                    <input type="text" ng-model="vm.tmp.sceneNumber">
                    <button class="btn btn-primary" type="button" ng-click="vm.addScene()">Add</button>
                </div>

            </div>
        </div>

        <div class="mdl-card__actions">
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-click="vm.editPictureBook()">
                <i class="material-icons">edit</i>
                Edit
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-click="vm.deletePictureBook(vm.currentPictureBook)">
                <i class="material-icons">delete</i>
                Delete
            </a>
            <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"
               ng-click="vm.showAddForm()">
                <i class="material-icons">add</i>
                Add scene
            </a>
        </div>
    </div>
</div>