<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.modalTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"><label>Title</label><br> <input class="mdl-textfield__input" type="text" ng-model="vm.pictureBook.title">
                </div>
                <div class="form-group"><label>Author</label><br> <input class="mdl-textfield__input" type="text" ng-model="vm.pictureBook.authors">
                </div>
                <div class="form-group"><label>Publisher</label><br> <input class="mdl-textfield__input" type="text"
                                                                            ng-model="vm.pictureBook.publisher"></div>
                <div class="form-group">
                    <label>Year of publishing</label>
                    <input class="mdl-textfield__input" type="text"
                           ng-model="vm.pictureBook.yearOfPublishing">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.ok()"><i class="material-icons">done</i>OK</button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" ng-click="vm.cancel()"><i class="material-icons">cancel</i>Cancel</button>
</div>
</div>